<!DOCTYPE html>
<html>
  <head>
    <title>Acompanhamento de Máquinas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table, th, td {
          border: 1px solid gray;
          padding: 8px;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Acompanhamento de Máquinas</h1>
    <hr />
    <button onclick="document.location='/showMachines'">Máquinas</button> 
    <button onclick="document.location='/showStatus'">Status</button> 
    <button onclick="document.location='/newEvent'">Eventos</button> 
     <!--Acompanhamento de Máquinas-->
     <h1><%= title %></h1>
     <table>
      <tr>
        <th>Código da Máquina</th>
        <th>Código do Status</th>
        <th>Data/Hora</th>
      </tr>
      <tr>
        <% events.forEach(function(sensorEvents){ %>
          <td><%= sensorEvents.idMaquina %></td>
          <td><%= sensorEvents.idStatus %></td>
          <td><%= sensorEvents.data_Hora %></td>
      </tr>  
        <% }) %>
    </table>
    <hr />
    <p><%= countEvents %> eventos encontrados!</p>
  </body>
</html>
