<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table, th, td {
          border: 1px solid gray;
          padding: 8px;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>Código da Máquina:<input type="number" name="idMaquina" value="<%= doc.idMaquina %>" /></p>
      <p>Nome da Máquina:<input type="text" name="NomeMaquina" value="<%= doc.NomeMaquina %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>

