<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>Código do Status:<input type="number" name="idStatus" value="<%= doc.idStatus %>" /></p>
      <p>Descrição:<input type="text" name="descricaoStatus" value="<%= doc.descricaoStatus %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>