<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table, th, td {
          border: 1px solid gray;
          padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
        <th>Status</th>
        <th>Descrição</th>
        <th>Edição</th>
        <th>Exclusão</th>
      </tr>
      <tr>
        <% status.forEach(function(machineStatus){ %>
          <td><%= machineStatus.idStatus %></td>
        <td><%= machineStatus.descricaoStatus %></td>
        <td><a href="/showStatus/editStatus/<%= machineStatus._id %>">Editar</a></td>
        <td><a href="/showStatus/deleteStatus/<%= machineStatus._id %>" 
          onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a></td>
      </tr>  
        <% }) %>
    </table>
    <hr />
    <p><%= countStatus %> status encontrados!</p>
    <hr />
    <a href="/showStatus/newStatus">Cadastrar novo status</a>
  </body>
</html>
